**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.eslintrc.js
**/.prettierrc
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/.idea
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
README.md
**/node_modules
**/npm-debug.log
/dist
/test
/coverage
/.nyc_output
.DS_Store
